


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    min-height: 100vh;
    
    flex: 1 0 auto;
    background-color: #101010;
    box-shadow: 4px 4px 15px black;
}
.categorias{
    margin-top: 30px;
    padding: 30px;
}
.title-categorias{
    color: white;
}

.inner{
    display: flex;
}

.item{
    padding: 14px;
}

.carosel{
    cursor: grab;
    overflow: hidden;

}